@use "../../styles/variables" as *;

.hamburger-button {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%; // Change back to right
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: right 0.3s ease-in-out; // Change back to right transition
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.open {
    right: 0; // Change back to right: 0
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2.2rem;
    font-weight: 200;
    cursor: pointer;
    color: #333;

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  nav {
    margin: 5rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 6rem 0 6rem 3rem;
  }

  li {
    margin: 1.2rem 0;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-size: 1.2rem;

    &.active-link {
      color: $react-blue;
    }

    &:hover {
      color: $react-blue;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .hamburger-button,
  .mobile-menu {
    display: block;
  }
}
