.counter {
  margin: 2.8rem 0;
  padding: 2rem 0;

  h2 {
    margin: 1rem 0;
  }

  button {
    margin: 1rem 0.5rem;
    outline: none;

    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: #3b82f6 auto;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.counter-description {
  font-size: 1.1rem;
  margin: 1.2rem auto;
  line-height: 1.8rem;
  max-width: 75%;
}
